/*This removes all the padding from the page so that the background photo
only shows where I want it.  It also sets a default font and background color. */
* {
  padding:0em;
  margin:0em;
  width: auto;
  font-family: sans-serif;
  background-color: white;
}
/*this attaches a large background image to the page that doesn't scroll */
body {
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/7/7e/St_Mary_Lake.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
}

h1 {
  font-size: 4em;
  font-weight: bolder;
  background-color:transparent;
  font-family: 'Oswald', sans-serif;
}

p {
  font-size:1.2em;
  background-color: transparent;
}
img {
  width:250px;
  height:200px;
  border-radius: 15px;
  display: inline;
  border: 1px solid black;
}
/*This removes all bullets from unordered lists*/
ul {
  list-style-type:none; 
}
/*This makes all the buttons big with a fun font and adds padding*/
button {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 12em;
}
/*The top section of the page is called location.  This centers the text and adds padding.*/
.location {
  height: auto;
  padding:1em;
  text-align:center;
}
/*This positions the photos in the top section of the page so that they appear in rows
and sets up the position for the next element. */
.wordOverlay {
  position:relative;
  width: 100%;
  display: inline;
}
/*this puts the text associated with the park and puts it on top of the 
picture of that park */
.wordOverlay p {
  position:absolute;
  top:-10px;
  left:0;
  width: 100%;
  font-size:1em;
  color: white;
  background-color: transparent;
}

.chooseItems ul li button {
  text-align: left;
}
.chooseItems ul ul li {
  position:relative;
  width: 100%;
  display: inline;
  text-align: center;
}
/* this puts the text associated with the supply and puts it on top of the picture of 
that supply */
.chooseItems ul ul li p {
  position:absolute;
  font-weight: bold;
  top:-6em;
  left:0;
  width: 100%;
  font-size:1em;
  color: black;
  background-color: transparent;
}
/*This creates a hole in the page so you can see the background photo through it.
It also essentially adds a border around the text so that text stands out */
.photoWindow {
  height: auto;
  color:white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  background-color: transparent;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  padding: 1.2em;
}

.chooseItems {
  padding: 1em
}
/*This decreases the size of the plus image and removes the default border for images.*/
.chooseItems ul li button img {
  width: 28px;
  height: 28px;
  border: none;
}
/*This positions the aside on the right of the page and gives it some padding
 and a border*/
.itemsChosen {
  width: 15em;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color:#d3d3d3;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  float: right;
  display: inline; 
}

.itemsChosen p {
  background-color:#d3d3d3;
}

.itemsChosen table {
  background-color: #d3d3d3;
  border: 1px solid black;
}

.itemsChosen table tr td {
  background-color:#d3d3d3;
  font-size: 1em;
  border: 7px solid #d3d3d3;
}
/*This makes the submit button fancy and a different size than the default button. 
It also places it on the left of the page so results are posted to the right. */
.findOut button {
  float:left;
  display: inline;
  width: 15em;
  margin-right: 5em;
  font-family: 'Oswald', sans-serif;
  width: 6em;
  border-radius: 8px;
  font-size: 2em;
  box-shadow: 2px 2px 4px 5px #ccc;
  margin-left: 2em;
  margin-bottom: 1em;
}

.submit {
  height: auto;
  padding-top: 2em;
  padding-bottom: 3em;
} 


